
#aboutSec01 {
    padding: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(rgb(212, 199, 199), rgb(148, 242, 148) );
}

#aboutSec01  .row2 div {
    padding: 30px;
    margin-top: 20px;
}

#aboutSec01Col1 {
    padding: 20px;
}

#aboutSec01Col1 h3 {
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
}

.aboutSec01Col03 {
    height: 800px;
    width: 80px;
}

.aboutSec01Col03 img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}
